<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="Metric.context1"
            name="name">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="Metric.category1"
            class="metric.views.MetricView"
            id="Metric.view3"
            name="Metric View"
            restorable="true">
      </view>
      <category
            id="Metric.category1"
            name="Metrics">
      </category>
   </extension>

</plugin>
